* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:  #007bff;
}


body {
    background-color: white;
}

.content {
    animation: scale-in-center 1s both;
    animation-delay: 1s;
}

.topBits {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.topCol {
    text-align: center;
}

.topImages {
    height: 120px;
    width: 120px;
    padding: 10px;
}

.emojis {
    display: flex;
    justify-content: center;
    align-items: center;
}


.leftImage {
    transform: rotate(90deg)scaleX(-1);
    width: 200px;
    height: auto;
    padding: 50px;
}


.rightImage {
    transform: rotate(270deg);
    width: 200px;
    height: auto;
    padding: 50px;
}

.emojiText {
    font-weight: bold;
    font-size: 24px;
}

.button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
}

button:focus { outline: none; }


.button:hover {
    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.rightImage:hover {
    animation: shake-right 1s ease-in-out both;
}

.leftImage:hover {
    animation: shake-left 1s ease-in-out both;
}

.top1 {
    animation: scale-in-center 0.8s both;
    animation-delay: 0s;
}

.top2 {
    animation: scale-in-center 0.8s both;
    animation-delay: 0.4s;
}

.top3 {
    animation: scale-in-center 0.8s both;
    animation-delay: 0.8s;
}


/* Animations */

@keyframes shake-bottom {
    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }
    10% {
        transform: rotate(2deg) ;
    }
    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
        transform: rotate(4deg) ;
    }
    80% {
        transform: rotate(-2deg);
    }
    90% {
        transform: rotate(2deg);
    }
}
  

@keyframes shake-right {
    0%,
    100% {
      transform: rotate(270deg);
    }
    10% {
      transform: rotate(272deg);
    }
    20%,
    40%,
    60% {
      transform: rotate(266deg);
    }
    30%,
    50%,
    70% {
      transform: rotate(274deg);
    }
    80% {
      transform: rotate(268deg);
    }
    90% {
      transform: rotate(272deg);
    }
}

@keyframes shake-left {
    0%,
    100% {
      transform:  rotate(90deg)scaleX(-1);
    }
    10% {
      transform: rotate(92deg)scaleX(-1);
    }
    20%,
    40%,
    60% {
      transform: rotate(88deg)scaleX(-1);
    }
    30%,
    50%,
    70% {
      transform: rotate(94deg)scaleX(-1);
    }
    80% {
      transform: rotate(88deg)scaleX(-1);
    }
    90% {
      transform: rotate(92deg)scaleX(-1);
    }
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        animation-timing-function: ease-in;
        opacity: 0;
      }
      38% {
        transform: scale(1);
        animation-timing-function: ease-out;
        opacity: 1;
      }
      55% {
        transform: scale(0.7);
        animation-timing-function: ease-in;
      }
      72% {
        transform: scale(1);
        animation-timing-function: ease-out;
      }
      81% {
        transform: scale(0.84);
        animation-timing-function: ease-in;
      }
      89% {
        transform: scale(1);
        animation-timing-function: ease-out;
      }
      95% {
        transform: scale(0.95);
        animation-timing-function: ease-in;
      }
      100% {
        transform: scale(1);
        animation-timing-function: ease-out;
      }
}
  
/* Test */
/* @keyframes shake-right {
    0%,
    100% {
      transform: rotate( +0deg);
    }
    10% {
      transform: rotate( +2deg);
    }
    20%,
    40%,
    60% {
      transform: rotate( -4deg);
    }
    30%,
    50%,
    70% {
      transform: rotate( +4deg);
    }
    80% {
      transform: rotate( -2deg);
    }
    90% {
      transform: rotate( +2deg);
    }
} */


/* ----------------------------------------------
 * Most Aniamtions Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
  
  