* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:  #007bff;
}

.button:hover {
    animation: jello-horizontal 0.9s both;
}

.codeBotButton {
    transform: rotate(270deg);
}



body {
    background-color: white;
}

/*  */

.ml6 {
position: relative;
font-weight: 900;
font-size: 5em;
padding: 40px 0 0 0;
}
  
.ml6 .text-wrapper {
display: inline-block;
overflow: hidden;
}
  
.ml6 .letter {
display: inline-block;
line-height: 1em;
}

/*  */


.content {
    opacity: 0;
    scale: 0;
}

.topBits {
    padding: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.topCol {
    text-align: center;
    opacity: 0;
    scale: 0;
}

.topImages {
    height: 100px;
    width: auto;
    padding: 0 20px 0 20px;
}

.notifScoreBot {
    position: relative;
    background: #ff0040;
    color: white;
    font-size: 14px;
    line-height: 10px;
    text-align: center;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    padding: 10px;
    top: 30px;
    left: 190px;
    z-index: 1;
}

.notifScoreUser {
    position: relative;
    background: #ff0040;
    color: white;
    font-size: 14px;
    line-height: 10px;
    text-align: center;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    padding: 10px;
    left: 70px;
    top: 30px;
    z-index: 1;
}

.textMessage {
	position: relative;
    background: #007bff;
    color: white;
    border-radius: 50px;
    padding: 10px;
    width: 100px;
    left: 28%;
}

.textMessage:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 14px solid transparent;
	border-top-color: #007bff;
	border-bottom: 0;
	margin-left: -14px;
	margin-bottom: -14px;
}



.emojis {
    display: flex;
    justify-content: center;
    align-items: center;
}


.leftImage {
    transform: rotate(90deg)scaleX(-1);
    width: 200px;
    height: auto;
    padding: 0 50px 0 50px;
}

.rightImage {
    transform: rotate(270deg);
    width: 200px;
    height: auto;
    padding: 0 50px 0 50px;
}

.emojiRightText {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.emojiLeftText {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
}

.button {
    opacity: 0;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 100px;
    margin: 2px;
}

button:focus { outline: none; }

.restartbutton {
    opacity: 0;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 100px;
    margin: 2px;
}

/* CSS Animations */

@keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
}

/*  Responsiveness */

@media only screen and (max-width: 700px) {

    body {
        height: 100%;
    }

    .topBits {
        padding: 10px;
    }

    .topImages {
        height: 50px;
    }

    .text-wrapper {
        font-size: 30px;
    }

    .ml6 {
        padding: 0;
        font-size: 0;
    }

    .content {
        height: 100%;
    }

    .emojis {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        height: 75vh;
        justify-content: space-around;
    }

    .options {
        display: flex;
        flex-direction: row;
        order: -1;
    }

    .button {
        width: 60px;
        height: 60px;
    }

    .leftImage {
        width: 15vh;
        padding: 0;
        height: auto;
    }
    
    .rightImage {
        width: 15vh;
        padding: 0;
        height: auto;
    }

    .emojiLeftText {
        position: absolute;
        opacity: 0;
        scale: 0;
    }

    .emojiRightText {
        position: absolute;
        opacity: 0;
        scale: 0;
    }

    .textMessage {
        left: 0;
    }

    .notifScoreUser {
        left: 100px;
    }

    .notifScoreBot {
        left: 100px;
    }
}
  
  
  
  
  